mm-map {
    display: block;
    max-width: 100%;
    
    
    .map-scroll-wrapper {
        max-width: 3000px;
        max-height: 500px;
        overflow: auto;
        img {
            max-width: 3000px;
            object-fit: cover;
        }
    }
}