mm-footer
  navbar.fixed-bottom.navbar.navbar-expand.navbar-dark.bg-dark
    .navbar-nav.w-100.d-flex.justify-content-evenly.justify-content-md-center
      .nav-item
        a.nav-link(href="/", rv-route-class-active="")= nav.home
      each link in nav.links
        .nav-item
          a.nav-link(href="/" + link.page.slug, rv-route-class-active="")= link.label