mm-header
  .container-fluid.container-lg
    .row
      .col
        mm-logo.py-2
          a(href="/")
            img.img-fluid(src="/images/logo.svg")
      .col-auto
        .row.h-100.d-flex.align-items-end.justify-content-center
          .d-none.d-md-block.col.text-end.text-nowrap
            a(href="mailto:post@markusmorische.de")
              | post@markusmorische.de
            br
            a(href="tel:+4947215512951")
              | 04721 5512951
          .col.d-flex.align-items-center.justify-content-end
            a(href="https://www.facebook.com/people/Markus-Morische/100072439706304/", target="_blank")
              bs5-icon(src="/iconset/svg/social_facebook_square.svg", size="32")
          .col.d-flex.align-items-center.justify-content-end
            a(href="https://www.instagram.com/markusmorische/", target="_blank")
              bs5-icon(src="/iconset/svg/social_instagram_square.svg", size="32")
          .col.d-flex.align-items-center.justify-content-end
            a(href="https://www.xing.com/profile/Markus_Morische", target="_blank")
              bs5-icon(src="/iconset/svg/social_xing_square.svg", size="32")