mm-navbar
  navbar.fixed-bottom.navbar.navbar-expand.bg-dark.text-light.navbar-dark.navbar-tl-dark
    .container-fluid.container-lg
      .w-100
        .row.flex-nowrap.justify-content-between
          //- Left
          .col-auto.pe-0.d-flex.align-items-center.justify-content-start(rv-element="colHamburgerEl", style="min-width: 114px;")
            bs5-toggle-button.me-2.d-md-none(target-id="main-sidebar")
              ul.nav.d-flex.align-items-center.justify-content-center
                li.nav-item.d-flex.align-items-center(rv-hide='isActive', rv-on-click='toggle')
                  bs5-icon.text-primary(src='/iconset/svg/icon_menu.svg', size='32')
                  | Menü
                li.nav-item.d-flex.align-items-center(rv-show='isActive', rv-on-click='toggle')
                  bs5-icon.text-primary(src='/iconset/svg/icon_close.svg', size='32')
                  | Schließen
          //- Middle
          nav.col.px-0.navbar-nav.d-none.d-md-flex.justify-content-center.text-nowrap(rv-element="colNavEl")
            if (nav.links)
              each link in nav.links
                .nav-item
                  a.nav-link(href=link.url, rv-route-class-active=`'${link.url}'`)= link.label
          //- Right
          .col-auto.ps-0.d-flex.align-items-center.justify-content-end(rv-element="colToolsEl")
            bs5-theme-button.mx-2(mode="icon")
            bs5-share.mx-2.d-flex.align-items-center.justify-content-center(mode="icon" dropdown-direction="up", dropdown-alignment="start", title=`${firstName || ""} ${lastName || ""} - ${title || ""}`, text=`Schau' dir mal die Seite von dem Fachanwalt für Erbrecht an.`, label-clipboard="URL kopieren", label-email="E-Mail")
              bs5-icon(src='/iconset/svg/social_share.svg', size='24', rv-on-click="share", role="button", aria-haspopup="true", aria-expanded="false")