mm-footer {
    display: block;
    // Share dropup
    .dropup .dropdown-menu[data-bs-popper] {
        right: 0;
        left: unset;
    }
    .navbar-nav {
        position: absolute;
        left: 0;
        right: 0;
    }
}