@font-face{
  font-family:"Neuzeit Office";
  src:url("fonts/1460626/6c60a261-ded1-42a3-a528-a6cd7e2fe488.woff2") format("woff2"),url("fonts/1460626/b6e9cfcb-1c3c-4ff5-b9b7-c875e79d4237.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:"Neuzeit Office";
  src:url("fonts/1460628/0d50518b-6188-47da-9abd-ecfa710cf2c9.woff2") format("woff2"),url("fonts/1460628/65f830a4-c787-4fba-a98f-cfec5b17c413.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}