doctype html
html(lang='de')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', type='text/css', href='/fonts.css')
    link(rel='stylesheet', type='text/css', href='/main.css')

    //- Favicons
    link(rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png")
    link(rel="manifest" href="/favicons/site.webmanifest")
    link(rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#72b62b")
    link(rel="shortcut icon" href="/favicons/favicon.ico")
    meta(name="apple-mobile-web-app-title" content="Markus Morische")
    meta(name="application-name" content="Markus Morische")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-config" content="/favicons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")

    title Markus Morische
    
  body
    div
      gy-right-sidebar
      #main-container
        #layout-top
          mm-header
            .container-fluid.container-lg
              .row
                .col
                  mm-logo.py-2
                    a(href="/")
                      img.img-fluid(src="/images/logo.svg")
                .col-auto
                  .row.h-100.d-flex.align-items-end.justify-content-center
                    .d-none.d-md-block.col.text-end.text-nowrap
                      a(href="mailto:post@markusmorische.de")
                        | post@markusmorische.de
                      br
                      a(href="tel:+4947215512951")
                        | 04721 5512951
                    .col.d-flex.align-items-center.justify-content-end
                      a(href="https://www.facebook.com/people/Markus-Morische/100072439706304/", target="_blank")
                        bs5-icon(src="/iconset/svg/social_facebook_square.svg", size="32")
                    .col.d-flex.align-items-center.justify-content-end
                      a(href="https://www.instagram.com/markusmorische/", target="_blank")
                        bs5-icon(src="/iconset/svg/social_instagram_square.svg", size="32")
                    .col.d-flex.align-items-center.justify-content-end
                      a(href="https://www.xing.com/profile/Markus_Morische", target="_blank")
                        bs5-icon(src="/iconset/svg/social_xing_square.svg", size="32")
        router-view#main(listen-all-links="true")
          block content
        #layout-bottom
          mm-footer
            .container
              navbar.fixed-bottom.navbar.navbar-expand.navbar-dark.bg-dark
                .navbar-nav.w-100.d-flex.justify-content-evenly.justify-content-md-center
                  .nav-item
                    a.nav-link(href="/", rv-route-class-active="") Über
                  .nav-item
                    a.nav-link(href="/impressum", rv-route-class-active="") Impressum
                  .nav-item
                    a.nav-link(href="/datenschutz", rv-route-class-active="") Datenschutz
    script.
      window.env = {};
      window.env.STRAPI_EXTERN_URL = "#{env.STRAPI_EXTERN_URL}";
    script(src='/vendors.bundle.js')
    script(src='/main.bundle.js')
