extends ../layouts/main.pug

block content
  home-page
    .container-fluid.container-lg.my-5
      .row
        .col-12.col-md.d-flex.align-items-center
          .mx-md-5
            img.img-fluid.rounded-md-circle(src= home.avatar.url, alt=home.avatar.alternativeText)
        .col-12.col-md
          .row
            .col-12
              .display-2.mt-5.my-md-0
                .fw-bold= home.title
                .fw-light= home.subtitle
              .mt-5!= home.content
          .row.my-5.d-block.d-md-none
            .text-start
              span.me-3 Jetzt
              a.btn.btn-outline-primary(href="mailto:" + contact.email) E-Mail schreiben
              span.mx-3 oder
              a.btn.btn-outline-primary(href="tel:" + contact.phoneNumber) Anrufen
