extends ../layouts/main.pug

block content
  home-page
    .container-fluid.container-lg.my-5
      .row
        .col-12.col-md.d-flex.align-items-center
          .mx-md-5
            img.img-fluid.rounded-md-circle(src="/images/markus.jpg")
        .col-12.col-md
          .row
            .col-12
              .display-2.mt-5.my-md-0
                .fw-bold Markus Morische
                .fw-light Fachanwalt für Erbrecht
              p.mt-5 Fast alle Menschen müssen sich jeder früher oder später mit Erbschaften auseinandersetzen. Ob in der Frage, wem etwas wie vererbt werden soll, oder ob man selbst erbt oder enterbt wurde.
              p In jeder dieser Situationen steht man vor Entscheidungen, die erhebliche familiäre, steuerliche oder wirtschaftliche Konsequenzen haben können. Da sollte der Entschluss, sich fachkundigen Rat vom Spezialisten einzuholen, der erste sein.
              p Ich bin seit über zwölf Jahren fast ausschließlich Erbrecht tätig, beratend, überwachend, am Verhandlungstisch und vor Gericht.  Dabei lege ich meinen Kunden vorab alle Karten auf den Tisch – auch was meine Kosten angeht – damit Ihre Entscheidung die beste für Sie ist.
          .row.my-5.d-block.d-md-none
            .text-start
              span.me-3 Jetzt
              a.btn.btn-outline-primary(href="mailto:post@markusmorische.de") E-Mail schreiben
              span.mx-3 oder
              a.btn.btn-outline-primary(href="tel:+4947215512951") Anrufen
              span.ms-3 .
