.btn {
    &[class*=' btn-outline-'] {
        color: $link-color;
    }
}

.theme-os {
    @include color-scheme(dark) {
        .btn {
            &[class*=' btn-outline-'] {
                color: $dark-link-color;
            }
        }
    }
  }
  
  .theme-dark {
    .btn {
        &[class*=' btn-outline-'] {
            color: $dark-link-color;
        }
    }
  }